Reset e estilo básico
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos do body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fef3d5;
    flex-direction: column;
}

/* Estilo do header e do logo */
header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 200px; /* Ajuste o tamanho conforme necessário */
}

/* Container centralizado para o login */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Títulos */
h2 {
    margin-bottom: 10px;
}

/* Formulário de login */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3d3e41;
}

/* Botão de cadastro */
.register-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #3d3e41
}
